# Module 2 Assignment

## Processing Data

### Importing Packages and Data

In [1]:
import pandas as pd

In [2]:
scopus2022 = pd.read_csv('scopus 2022 2021.csv',  sep = ',')
scopus = pd.read_csv('scopus.csv',  sep = ',')

In [8]:
data = scopus2022.append(scopus, ignore_index=True)

C:\Users\Shaun\AppData\Local\Temp\ipykernel_7772\3402760882.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = scopus2022.append(scopus, ignore_index=True)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3400 entries, 0 to 3399
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Authors                        3400 non-null   object
 1   Author(s) ID                   3399 non-null   object
 2   Title                          3400 non-null   object
 3   Year                           3400 non-null   int64
 4   Source title                   3400 non-null   object
 5   Volume                         2320 non-null   object
 6   Issue                          1426 non-null   object
 7   Art. No.                       1051 non-null   object
 8   Page start                     2336 non-null   object
 9   Page end                       2326 non-null   object
 10  Page count                     38 non-null     float64
 11  Cited by                       2164 non-null   float64
 12  DOI                            2972 non-null   object
 13  Link                           3400 non-null   object
 14  Affiliations                   3305 non-null   object
 15  Authors with affiliations      3342 non-null   object
 16  Abstract                       3400 non-null   object
 17  Author Keywords                2781 non-null   object
 18  Index Keywords                 1616 non-null   object
 19  Molecular Sequence Numbers     0 non-null      float64
 20  Chemicals/CAS                  4 non-null      object
 21  Tradenames                     0 non-null      float64
 22  Manufacturers                  0 non-null      float64
 23  Funding Details                827 non-null    object
 24  Funding Text 1                 1039 non-null   object
 25  Funding Text 2                 141 non-null    object
 26  Funding Text 3                 7 non-null      object
 27  Funding Text 4                 1 non-null      object
 28  Funding Text 5                 1 non-null      object
 29  Funding Text 6                 1 non-null      object
 30  Funding Text 7                 1 non-null      object
 31  Funding Text 8                 0 non-null      float64
 32  Funding Text 9                 0 non-null      float64
 33  Funding Text 10                0 non-null      float64
 34  References                     3212 non-null   object
 35  Correspondence Address         2354 non-null   object
 36  Editors                        491 non-null    object
 37  Sponsors                       319 non-null    object
 38  Publisher                      3394 non-null   object
 39  Conference name                1063 non-null   object
 40  Conference date                1062 non-null   object
 41  Conference location            3 non-null      object
 42  Conference code                1065 non-null   float64
 43  ISSN                           2540 non-null   object
 44  ISBN                           1174 non-null   object
 45  CODEN                          276 non-null    object
 46  PubMed ID                      36 non-null     float64
 47  Language of Original Document  3400 non-null   object
 48  Abbreviated Source Title       3396 non-null   object
 49  Document Type                  3400 non-null   object
 50  Publication Stage              3400 non-null   object
 51  Open Access                    1097 non-null   object
 52  Source                         3400 non-null   object
 53  EID                            3400 non-null   object
dtypes: float64(10), int64(1), object(43)
memory usage: 1.4+ MB

In [15]:
data = data[['Authors', 'Author(s) ID','Title', 'Abstract','Year', 'Source title']]

In [16]:
data.columns

Index(['Authors', 'Author(s) ID', 'Title', 'Abstract', 'Year', 'Source title'], dtype='object')

In [18]:
data ['text'] = data['Title'] + '. ' + data['Abstract']

C:\Users\Shaun\AppData\Local\Temp\ipykernel_7772\4068009536.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data ['text'] = data['Title'] + '. ' + data['Abstract']